.awesomeAsSounds {

  &__image {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    img {
      max-height: 326px;
      max-width: 431px;
      height: auto;
      width: auto;
    }
  }
}

@media only screen and (max-width: 786px) {
  .awesomeAsSounds {
    &__container {
      flex-direction: column;

      .title {
        text-align: center;
      }

      .paragraph {
        text-align: center;
      }
    }

    &__image {
      margin-top: 50px;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 454px) {
  .awesomeAsSounds {
    &__image img {
      max-height: 226px;
    }
  }
}