@import "shared/shared";

.footer {
  margin-top: 50px;
  background-color: $footerBgColor;

  &__container {
    padding: 50px 0;

    &-copyright {
      color: #949494;
    }
  }
}

.footer-social-links {
  display: flex;

  > *:not(:last-child) {
    margin-right: 8px;
  }

  > * {
    i {
      font-size: 18px;
    }
  }
}