@import "sharedStyles";

.header {
  background-color: $primaryColor;
  width: 100vw;

  &__container {
    padding: 50px;

    &-logo {
      display: flex;
      justify-content: center;
      font-size: 35px;
      color: #fff;
      font-weight: 300;
      margin-bottom: 150px;
    }

    &-title {
      margin-bottom: 15px;
    }
  }
}