@import "sharedStyles.css";

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 15%;
}

.row-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.half-width {
  width: 50%;
}

.title {
  font-size: 25px;
  font-weight: 400;
  color: #fff;

  &-green {
    color: $primaryColor;
  }
}

.paragraph {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 30px;

  &-black {
    color: $titleDarkColor;
  }
}

.dark-section {
  background-color: $sectionDarkColor;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.primary-button {
  display: flex;
  justify-content: center;
  padding: 10px 25px;
  align-items: center;
  background-color: $primaryColor;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border-color: $primaryColor;
  color: #fff;
  cursor: pointer;

  &-center {
    margin: 0 auto;
  }
}

.secondary-button {
  @extend .primary-button;
  border-color: #ffffff;
}

.white-button {
  @extend .primary-button;
  background-color: #ffffff;
  color: $primaryColor;
}

.social-link-btn {
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}