@import "sharedStyles.css";
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 15%;
}

.row-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.half-width {
  width: 50%;
}

.title {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.title-green {
  color: #6DBC88;
}

.paragraph {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 25px;
}
.paragraph-black {
  color: #454545;
}

.dark-section {
  background-color: #F8F8F8;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  background-color: #6DBC88;
  border-radius: 5px;
  font-size: 16px;
  border-color: #6DBC88;
  color: #fff;
}

.social-link-btn {
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.social-link-btn:hover {
  background-color: #6DBC88;
  border-color: #6DBC88;
}

.header {
  background-color: #6DBC88;
  width: 100vw;
}
.header__container {
  padding: 50px;
}
.header__container-logo {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 150px;
}
.header__container-title {
  margin-bottom: 15px;
}

.responsive {
  padding-bottom: 50px;
}
.responsive__title {
  text-align: center;
  color: #6DBC88;
}
.responsive__article-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #F6F6F6;
  padding: 15px;
  margin-bottom: 15px;
}
.responsive__article-image i {
  font-size: 32px;
  color: #454545;
}
.responsive__article-title {
  font-size: 20px;
  color: #454545;
  text-align: center;
  margin-bottom: 10px;
}
.responsive__article-paragraph {
  color: #454545;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}

.howItWorks {
  margin-bottom: 20px;
}
.howItWorks__section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.howItWorks__section-container-item {
  display: flex;
  flex-direction: column;
  flex: 0 45%;
  margin: 10px;
}
.howItWorks__section-container-title {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #454545;
}
.howItWorks__section-container-paragraph {
  font-size: 14px;
  font-weight: 500;
  color: #454545;
}
.howItWorks__video {
  display: flex;
  justify-content: center;
}
.howItWorks__video iframe {
  width: 70%;
}

.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #373737;
}
.newsletter__input-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.newsletter__input-container-input {
  border: 2px #6DBC88 solid;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 16px;
  width: 450px;
  background-color: transparent;
}
.newsletter__input-container-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #6DBC88;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  border-color: #6DBC88;
  color: #fff;
}
.newsletter__input-container-send-btn i {
  margin-left: 8px;
}
.newsletter__input-container ::placeholder {
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}
.newsletter__input-container :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
.newsletter__input-container ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

.packages {
  margin-bottom: 30px;
}

.package {
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #F6F6F6;
  cursor: pointer;
}
.package:hover {
  border: 1px solid #6DBC88;
}
.package:hover .package__header {
  background-color: #6DBC88;
}
.package:hover .package__header-name, .package:hover .package__header-price, .package:hover .package__header-longevity {
  color: #F8FCFA;
}
.package__header {
  padding: 25px;
  background-color: #F6F6F6;
  border-radius: 5px;
}
.package__header-name {
  font-size: 22px;
  font-weight: 500;
  color: #454545;
  text-transform: uppercase;
}
.package__header-price {
  font-size: 26px;
  color: #6DBC88;
  margin: 10px 0;
}
.package__header-longevity {
  font-size: 14px;
  color: #454545;
}
.package__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.package__body-line {
  text-align: center;
  margin: 15px;
}
.package__body-line:after {
  content: "";
  border-top: 1px solid #454545;
  opacity: 0.5;
  margin: 10px 0;
  display: flex;
  width: 100%;
  height: 2px;
}

.footer {
  margin-top: 50px;
  background-color: #373737;
}
.footer__container {
  padding: 50px 0;
}
.footer__container-copyright {
  color: #949494;
}

.footer-social-links {
  display: flex;
}
.footer-social-links > *:not(:last-child) {
  margin-right: 8px;
}
.footer-social-links > * i {
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
